.games-section {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .title {
      padding-left: 0.5em;
    }
    .games-container {
      display: flex;
      gap: 1em;
      overflow-x: scroll;
      max-width: 100vw;
      padding: 1em;

    }
  }
