footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  // background-color: red;
  align-items: center;
  justify-content: space-between;
  padding-left: 5em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  .left-foot {
    display: flex;
    align-items: center;
    gap: 0.5em;
    a {
      color: gray;
      &:hover {
        .bi-discord {
          color: #5865f2;
        }
        .bi-twitch {
          color: #9146FF;
        }
        .bi-youtube {
          color: #FF0000;
        }
        .bi-twitter {
          color: #1da1f2;
        }
        .bi-instagram {
          color: #C13584;
        }
        .bi-facebook {
          color: #1877f2;
        }
      }
    }
  }
  .right-foot {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: small;
    a {
      color: gray;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
