header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: row-reverse;
  //background-color: #131820;
  color: white;
  padding-right: 2em;
  padding-top: 0.25em;
}
