header {
    position: fixed;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    height: 5em;
    background: #252525;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-radius: 1em;
    .links {
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        a {
            color: white;
            text-decoration: none;
            font-size: 1.5em;
            font-weight: bold;
            transition: all 300ms;
            &:hover {
                color: #b3b3b3;
            }
        }
    }
}
