.user-bubble {
  position: fixed;
  bottom: 1em;
  right: 1em;
  height: 5em;
  width: 5em;
  border: 3px rgb(7, 167, 61) dotted;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
  opacity: 1;
  flex-direction: column;

  &:hover {
    opacity: 1;
  }
  &:hover {
    border-radius: 1em;
    height: 17em;
    width: 15em;
    //background: #3c030a;
    //border: solid white thin;
    background-image: none !important;
    nav,
    h3 {
      opacity: 1;
    }
    // TODO keep the active state until user interacts with other ...
  }
  div {
    position: relative;
    // background-image: url(https://picsum.photos/200/300);
    width: 100%;
    height: 100%;
    background-size:100% 100%;
    background-repeat: no-repeat;
    

    img {
      display: none;
      width: 100%;
      height: 100%;
    }

    h3 {
      position: absolute;
      opacity: 0;
      font-size: 1.5em;
      font-weight: bold;
      color: white;
      text-shadow: 0 0 0.5em black;
      transition: all 300ms;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  nav {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    transition: all 300ms;
    a {
      width: 100%;
      text-align: center;
      background: rgb(34, 34, 34);
      padding: 1em;
      transition: all 300ms;
      &:hover {
        background: rgb(78, 78, 78);
      }
    }
    .logout {
      color: aliceblue;
      text-decoration: none;
      width: 100%;
      text-align: center;
      background:  rgb(34, 34, 34);
      padding: 1em;
      transition: all 300ms;
      &:hover {
        background: rgb(236, 2, 2);
      }
    }
  }
}
