.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  width: 40vw;
  background-color: #131820;
  border-radius: 1em;
  box-shadow: 0 0 0 0.1em crimson;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  .social-media {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    button {
      // border-radius: 0.5em;
      // border-color: #131820;
      // border-style: solid;
      // padding: 0.25em;
      // color: white;
      // font-size: large;
      // font-weight: bold;
      // background-color: crimson;
      // text-transform: uppercase;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // gap: 1em;
      transition: all 200ms;

      &:active {
        transform: scale(0.95);
      }

      &:hover {
        box-shadow: 0 0 0 0.125em;
      }
    }

    .discord-button {
      background-color: #5865f2;
    }

    .google-button {
      background-color: #ea4335;
    }

    .facebook-button {
      background-color: #1877f2;
    }

    .twitter-button {
      background-color: #1da1f2;
    }
  }
}
