.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 1em;
    padding-top: 2em;
    padding-bottom: 3em;

    button {
        border-radius: 0.5em;
        border-color: #131820;
        border-style: solid;
        padding: 0.25em;
        color: white;
        font-size: large;
        font-weight: bold;
        background-color: crimson;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        transition: all 200ms;

        &:active {
            transform: scale(0.95);
        }

        &:hover {
            box-shadow: 0 0 0 0.125em;
        }
    }

    .or {
        display: flex;
        width: 70%;
        gap: 1em;

        hr {
            width: -webkit-fill-available;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 2em;
        min-width: 21em;
        gap: 1em;

        .label-input {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            gap: 0.5em;

            label {
                font-size: small;
                color: gray;
            }

            input {
                border-style: solid;
                //  border-width: thin;
                border-color: rgb(255, 255, 255);
                border-radius: 0.25em;
                font-size: larger;
                outline: none;
                transition: all 300ms;
                width: 100%;
                // background-color: #131820;
                background-color: transparent;
                text-align: center;
                color: rgb(255, 255, 255);

                &::placeholder {
                    text-align: center;
                    color: rgb(255, 255, 255);
                }

                &:hover {
                    box-shadow: 0 0 0 0.05em;
                }
            }
        }

        .label-checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;

            input {
                border-style: solid;
                border-color: white;
                background-color: white;
                width: 1em;
                height: 1em;
                border-radius: 0.25em;
                -webkit-appearance: none;
                transition: all 200ms;

                &:active {
                    transform: scale(0.8);
                }

                &:hover {
                    box-shadow: 0 0 0 0.1em white;
                }

                &:checked {
                    background-color: crimson;
                    box-shadow: 0 0 0 0.1em crimson;
                    border-color: crimson;
                }
            }
        }

        p {
            &.message {
                color: #00ffad;
                background: #00a55d47;
                border-radius: 0.5em;
            }

            text-align: center;

            a {
                text-decoration: none;
                color: crimson;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

footer {
    position: absolute;
    justify-content: space-around;
    padding: 0.25em;
    bottom: 0.25em;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-height: 100vh;
}

.hidden {
    display: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
